<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<mappers>
		<mapper resource="mapper/KeylifecycleMapper.xml"></mapper>
		<mapper resource="mapper/ClientMapper.xml"></mapper>
		<mapper resource="mapper/KeyprofileMapper.xml"></mapper>
		<mapper resource="mapper/HsmMapper.xml"></mapper>
		<mapper resource="mapper/PartitionMapper.xml"></mapper>
		<mapper resource="mapper/HsmCtlMapper.xml"></mapper>
		<mapper resource="mapper/ManagerMapper.xml"></mapper>
	</mappers>
</configuration>
