<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tmonet.kms.mgmt.history.mapper.HistoryMapper">
	<select id="selectHsmHistory" parameterType="list" resultType="com.tmonet.kms.mgmt.history.vo.HistoryVo">
		SELECT * FROM NKM_HSM_HISTORY 
		<if test="list != null and list.size != 0">
			WHERE HSM_ID IN
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
	        	#{item}
			</foreach>
		</if>
		ORDER BY REG_DTTM DESC;
	</select>
	
	<select id="selectHsmCtrlSvrHistory" parameterType="list" resultType="com.tmonet.kms.mgmt.history.vo.HistoryVo">
		SELECT * FROM NKM_CTLSVR_HISTORY 
		<if test="list != null and list.size != 0">
			WHERE CTLSVR_ID IN
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
	        	#{item}
			</foreach>
		</if>
		ORDER BY REG_DTTM DESC;
	</select>
	
	<select id="selectKeyHistory" parameterType="list" resultType="com.tmonet.kms.mgmt.history.vo.HistoryVo">
		SELECT * FROM NKM_KEY_HISTORY 
		<if test="list != null and list.size != 0">
			WHERE KEY_ID IN
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
	        	#{item}
			</foreach>
		</if>
		ORDER BY REG_DTTM DESC;
	</select>
	
	<select id="selectKeyProfileHistory" parameterType="list" resultType="com.tmonet.kms.mgmt.history.vo.HistoryVo">
		SELECT * FROM NKM_KEY_PROFILE_HISTORY 
		<if test="list != null and list.size != 0">
			WHERE PROFILE_ID IN
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
	        	#{item}
			</foreach>
		</if>
		ORDER BY REG_DTTM DESC;
	</select>
	
	<select id="selectClientHistory" parameterType="list" resultType="com.tmonet.kms.mgmt.history.vo.HistoryVo">
		SELECT * FROM NKM_CLIENT_HISTORY 
		<if test="list != null and list.size != 0">
			WHERE IP_ADDR IN
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
	        	#{item}
			</foreach>
		</if>
		ORDER BY REG_DTTM DESC;
	</select>
	
	<select id="selectManagerHistory" parameterType="list" resultType="com.tmonet.kms.mgmt.history.vo.HistoryVo">
		SELECT * FROM NKM_MANAGER_HISTORY 
		<if test="list != null and list.size != 0">
			WHERE ID IN
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
	        	#{item}
			</foreach>
		</if>
		ORDER BY REG_DTTM DESC;
	</select>

	<select id="selectClientAuthHistory" parameterType="list" resultType="com.tmonet.kms.mgmt.history.vo.HistoryVo">
		SELECT * FROM NKM_CLI_AUTH_HISTORY
		<if test="list != null and list.size != 0">
			WHERE IP_ADDR IN
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
	        	#{item}
			</foreach>
		</if>
		ORDER BY REG_DTTM DESC;
	</select>
	
	<select id="selectManagerAuthHistory" parameterType="list" resultType="com.tmonet.kms.mgmt.history.vo.HistoryVo">
		SELECT * FROM NKM_MNG_AUTH_HISTORY 
		<if test="list != null and list.size != 0">
			WHERE ID IN
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
	        	#{item}
			</foreach>
		</if>
		ORDER BY REG_DTTM DESC;
	</select>
</mapper>
